.css-selector-tag {
    color: #f92672;
}

.css-selector-class,
.css-selector-id {
    color: #a6e22e;
}

.css-pseudo,
.css-lparen,
.css-rparen,
.css-split,
.css-value-start {
    color: #ffffff;
}

.css-property {
    color: #66d9ef;
}

.css-value {
    color: #66d9ef;
}