.xml-tag-name {
    color: #f92672;
}

.xml-tag-open,
.xml-end-tag-open,
.xml-tag-close {
    color: #ffffff;
}


.xml-attr-name {
    color: #a6e22e;
}

.xml-attr-value {
    color: #e6db74;
}

.xml-comment {
    color: #75715e;
}

.html-style-name,
.html-style-value {
    color: #66d9ef;
}

.html-style-number {
    color: #ae81ff;
}

.html-style-px {
    color: #f92672;
}