/*关键字*/
.js-key {
    color: #f92672;
}

/*类型*/
.js-type {
    color: #66d9ef;
}

.js-function {
    color: #66d9ef;
}

.js-class {
    color: #66d9ef;
}

/*函数执行*/
.js-function-exec {
    color: #66d9ef;
}

/*new对象*/
/* .js-new-class {
    color: #66d9ef;
} */
/*本地对象*/
.js-local-var {
    color: #66d9ef;
}

/*函数名称*/
.js-function-name {
    color: #a6e22e;
}

/*类名称*/
.js-class-name {
    color: #a6e22e;
}

/*函数参数*/
.js-function-arg {
    color: #fd971f;
}

.js-this {
    color: #fd971f;
}

/*内置函数*/
.js-function-lib {
    color: #66d9ef;
}

/*内置变量*/
.js-lib-var {
    color: #66d9ef;
}

/*操作符号*/
.js-oprator {
    color: #f92672;
}

/*注释*/
.js-comment {
    color: #75715e;
}

/*字符串*/
.js-string {
    color: #e6db74;
}

/*数字*/
.js-number {
    color: #ae81ff;
}