.my {
    &-activity-bar {
        flex-shrink: 0;
        height: 100%;
        width: 50px;
        background-color: var(--my-editor-background);
        user-select: none;

        .bar-item {
            display: flex;
            align-items: center;
            justify-content: center;
            height: 50px;
            opacity: 0.5;
            cursor: pointer;

            &.my-active {
                opacity: 1;
                background-color: var(--my-sideBar-background);
            }

            .my-icon {
                font-size: 25px;
            }
        }
    }
}
