.my {
    &-auto {
        position: absolute;
        z-index: 99;
        min-width: 200px;
        max-height: 275px;
        user-select: none;
        border: 1px solid var(--my-editorSuggestWidget-border);
        background-color: var(--my-editorSuggestWidget-background);
        color: var(--my-editorSuggestWidget-foreground);
        cursor: default;

        .match-char {
            font-weight: bold;
            color: var(--my-editorSuggestWidget-highlightForeground);
        }
    }

    &-auto-item {
        position: relative;
        height: 25px;
        padding-right: 10px;
        white-space: nowrap;
        cursor: pointer;

        &:hover {
            background-color: var(--my-list-hoverBackground);
        }

        &.my-active {
            background-color: var(--my-editorSuggestWidget-selectedBackground);
            color: var(--my-editorSuggestWidget-selectedForeground);

            .match-char {
                color: var(--my-editorSuggestWidget-focusHighlightForeground);
            }
        }
    }

    &-auto-icon {
        width: 25px;
    }

    &-auto-desc {
        opacity: 0.6;
        margin-left: 50px;
    }
}
