.my {
    &-auto {
        position: absolute;
        z-index: 99;
        min-width: 200px;
        user-select: none;
        border: 1px solid rgba(0, 0, 0, 0.2);

        .match-char {
            font-weight: bold;
        }
    }

    &-auto-item {
        position: relative;
        display: flex;
        align-items: center;
        height: 25px;
        padding-right: 10px;
        white-space: nowrap;
        cursor: pointer;

        &.active,
        &:hover {
            background-color: rgba(0, 0, 0, 0.2);
        }
    }

    &-auto-icon {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 25px;
    }
}