.my {
    &-cmd-panel {
        position: absolute;
        top: 35px;
        left: 50%;
        z-index: 99;
        transform: translateX(-50%);
        min-width: 500px;
        background-color: rgb(238, 238, 238);
        color: #575757;

        .my-menu {
            background-color: transparent !important;
            box-shadow: none;
            border: none;

            .my-light-bg {
                background-color: transparent !important;
            }
        }

    }

    &-cmd-search {
        padding: 5px;

        input {
            width: 100%;
            height: 30px;
            background-color: #ffffff;
            border: 1px solid #0098fb;
            outline: none;
        }
    }
}