.my {
    &-cmd-panel {
        position: absolute;
        top: 35px;
        left: 50%;
        z-index: 99;
        transform: translateX(-50%);
        min-width: 500px;
        border: 1px solid var(--my-editorWidget-border);
        background-color: var(--my-editorWidget-background);
        color: var(--my-editorWidget-foreground);

        .my-scroll-overlay {
            max-height: 500px;
        }
    }

    &-cmd-search {
        padding: 5px;

        input {
            width: 100%;
            height: 30px;
            background-color: var(--my-input-background);
            color: var(--my-input-foreground);
            border: 1px solid var(--my-input-border);
            outline: none;
        }
    }
}
