.my {
    &-line {
        position: relative;
        z-index: 1;
        white-space: nowrap;

        &.active::after {
            content: "";
            position: absolute;
            top: 0;
            display: block;
            width: 100%;
            height: 100%;
            z-index: -1;
            border: 1px solid rgba(0, 0, 0, 0.1);
        }
    }

    &-line-icon {
        position: absolute;
        top: 0;
        left: 0;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 25px;
        height: 100%;
    }

    &-line-bg {
        position: absolute;
        top: 0;
        z-index: 0;
        height: 100%;
    }

    &-select-bg {
        border: 1px solid rgb(173, 214, 255);

        &.active {
            border: none;
            background-color: rgb(173, 214, 255);
        }
    }


    &-search-bg {
        border: 1px solid rgb(250, 201, 171);

        &.active {
            border: none;
            background-color: rgb(250, 201, 171);
        }
    }

    &-tab-line {
        position: absolute;
        top: 0;
        z-index: 2;
        width: 0px;
        height: 100%;
        border-left: 1px solid rgba(0, 0, 0, 0.1);
        pointer-events: none;
    }

    &-code {
        position: relative;
        z-index: 1;
        display: inline-block;
        height: 100%;
        white-space: pre;
        // font-family: monospace;

        span {
            display: inline-block;
        }

        &.fold-close::before {
            content: "...";
            position: absolute;
            top: 50%;
            left: 100%;
            height: 8px;
            margin-top: -4px;
            background-color: rgb(255, 221, 51);
            border-radius: 2px;
            color: transparent;
            transform: scaleX(0.6);
        }

        &.fold-close::after {
            content: "...";
            position: absolute;
            top: -3px;
            left: 100%;
            color: #333333;
            transform: scaleX(0.6);
        }
    }
}