.my {
	&-editor-groups {
		flex-grow: 1;
		position: relative;
		overflow: hidden;
	}

	&-editor-wrap {
		position: fixed;
		overflow: hidden;
		font-style: normal;
		font-variant-ligatures: normal;
		font-variant-caps: normal;
		font-variant-numeric: normal;
		font-variant-east-asian: normal;
		font-weight: normal;
		font-stretch: normal;
		font-size: 16px;
		line-height: 20px;
		letter-spacing: 0px;
		font-family: Consolas, 'Courier New', monospace;
		user-select: none;
		-webkit-tap-highlight-color: rgab(0, 0, 0, 0);
		color: var(--my-editor-foreground);
	}

	&-num {
		position: absolute;
		left: 0;
		right: 0;
		padding: 0 25px 0 20px;
		text-align: right;

		&-wrap {
			position: absolute;
			top: 0;
			left: 0;
		}

		&-scroller {
			position: absolute;
			top: 0;
			width: 100%;
			height: 100%;
			overflow: hidden;
		}

		&-content {
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 1000000px;
			overflow: hidden;
			contain: strict;
			transform: translate3d(0px, 0px, 0px);
		}

		.num {
			position: relative;
			display: inline-block;
			min-width: 10px;
			text-align: center;
			color: var(--my-editorLineNumber-foreground);
		}

		&.my-active {
			.num {
				color: var(--my-editorLineNumber-activeForeground);
			}
		}
	}

	&-scroller {
		position: absolute;
		width: 100%;
		height: 100%;
		overflow: hidden;

		&-shadow-left {
			position: absolute;
			left: 0;
			width: 10px;
			height: 100%;
			box-shadow: 10px 0 10px -10px rgba(0, 0, 0, 0.8) inset;
			pointer-events: none;
		}

		&-shadow-right {
			position: absolute;
			right: 0;
			width: 10px;
			height: 100%;
			box-shadow: -10px 0 10px -10px rgba(0, 0, 0, 0.8) inset;
			pointer-events: none;
		}
	}

	&-content {
		position: absolute;
		top: 0;
		width: 1000000px;
		height: 1000000px;
		overflow: hidden;
		cursor: text;
		contain: strict;
		transform: translate3d(0px, 0px, 0px);

		&-wrap {
			position: absolute;
			top: 0;
			overflow: hidden;
		}
	}

	&-bg-view {
		position: absolute;
		top: 0;
		left: 0;
		z-index: 1;
		pointer-events: none;
	}

	&-lines-view {
		position: absolute;
		top: 0;
		left: 0;
		z-index: 2;
	}

	&-indent-view {
		position: absolute;
		top: 0;
		left: 0;
		z-index: 3;
		pointer-events: none;
	}

	&-cursor-view {
		position: absolute;
		top: 0;
		left: 0;
		z-index: 4;
		pointer-events: none;
	}

	&-cursor {
		position: absolute;
		left: 0;
		z-index: 2;
		width: 2px;
		overflow: hidden;
		background-color: var(--my-editorCursor-foreground);
	}

	&-textarea {
		position: absolute;
		top: 0;
		left: 0;
		z-index: -1;
		width: 1px;
		padding: 0;
		border-style: none;
		outline: none;
		opacity: 0;
		resize: none;
		white-space: pre;
		overflow: hidden;
		pointer-events: none;
	}

	&-tip {
		position: absolute;
		z-index: 99;
		min-width: 120px;
		border-radius: 4px;
		line-height: 1.2em;
		border: 1px solid var(--my-editorWidget-border);
		background-color: var(--my-editorWidget-background);
		box-shadow: 0px 0px 8px 2px var(--my-widget-shadow);
		color: var(--my-editorWidget-foreground);
	}

	&-tip-content {
		padding: 5px 10px;
	}

	&-minimap-wrap {
		position: absolute;
		top: 0;
		right: 0;
		width: 10%;
		contain: strict;
		transform: translate3d(0px, 0px, 0px);
	}
}
