.my {
	&-editor-groups {
		flex-grow: 1;
		position: relative;
		overflow: hidden;
	}

	&-editor-wrap {
		display: flex;
		position: relative;
		width: 100%;
		height: 100%;
		overflow: hidden;
		font-style: normal;
		font-variant-ligatures: normal;
		font-variant-caps: normal;
		font-variant-numeric: normal;
		font-variant-east-asian: normal;
		font-weight: normal;
		font-stretch: normal;
		font-size: 14px;
		line-height: 1.5em;
		letter-spacing: 0px;
		font-family: Consolas, 'Courier New', monospace;
		user-select: none;
		-webkit-tap-highlight-color: rgab(0, 0, 0, 0);
		color: var(--my-editor-foreground);

		&:hover {
			.my-editor-scrollbar-v,
			.my-editor-scrollbar-h {
				&::-webkit-scrollbar-thumb {
					background-color: var(--my-scrollbarSlider-background);

					&:hover {
						background-color: var(--my-scrollbarSlider-hoverBackground);
					}

					&:active {
						background-color: var(--my-scrollbarSlider-activeBackground);
					}
				}
			}

			.my-editor-scrollbar-h {
				display: block;
			}
		}
	}

	&-num {
		position: absolute;
		left: 0;
		right: 0;
		padding: 0 22px 0 20px;
		text-align: right;
		transform: translate3d(0px, 0px, 0px);

		&-wrap {
			flex-shrink: 0;
			position: relative;
			height: 100%;
		}

		&-scroller {
			position: absolute;
			top: 0;
			width: 100%;
			height: 100%;
			overflow: hidden;
		}

		&-content {
			position: absolute;
			width: 100%;
			min-height: 100%;
			overflow: hidden;
			contain: strict;
			transform: translate3d(0px, 0px, 0px);
		}

		.num {
			position: relative;
			display: inline-block;
			min-width: 10px;
			text-align: center;
			color: var(--my-editorLineNumber-foreground);
		}

		&.my-active {
			.num {
				color: var(--my-editorLineNumber-activeForeground);
			}
		}
	}

	&-scroller {
		position: absolute;
		width: 100%;
		height: 100%;
		overflow: hidden;

		&-shadow-left {
			position: absolute;
			left: 0;
			width: 10px;
			height: 100%;
			box-shadow: 10px 0 10px -10px rgba(0, 0, 0, 0.8) inset;
			pointer-events: none;
		}

		&-shadow-right {
			position: absolute;
			right: 0;
			width: 10px;
			height: 100%;
			box-shadow: -10px 0 10px -10px rgba(0, 0, 0, 0.8) inset;
			pointer-events: none;
		}
	}

	&-editor-scrollbar-v {
		flex-shrink: 0;
		width: 14px;
		height: 100%;
		overflow: overlay;
	}

	&-editor-scrollbar-h {
		display: none;
		position: absolute;
		bottom: 0;
		left: 0;
		right: 0;
		height: 14px;
		overflow: overlay;

		div {
			height: 100%;
		}
	}

	&-editor-scrollbar-v,
	&-editor-scrollbar-h {
		&::-webkit-scrollbar {
			width: 14px;
			height: 14px;
			background-color: transparent;
		}

		&::-webkit-scrollbar-thumb {
			background-color: transparent;
		}

		&::-webkit-scrollbar-corner {
			background-color: transparent;
		}
	}

	&-content {
		position: absolute;
		overflow: hidden;
		min-width: 100%;
		min-height: 100%;
		overflow: hidden;
		contain: strict;
		transform: translate3d(0px, 0px, 0px);
		cursor: text;

		&-wrap {
			flex-grow: 1;
			position: relative;
			height: 100%;
			overflow: hidden;
		}
	}

	&-bg-view {
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		z-index: 1;
	}

	&-lines-view {
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		z-index: 2;
	}

	&-cursor-view {
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		z-index: 3;
	}

	&-cursor {
		position: absolute;
		left: 0;
		z-index: 2;
		width: 2px;
		overflow: hidden;
		background-color: var(--my-editorCursor-foreground);
		pointer-events: none;
	}

	&-textarea {
		position: absolute;
		top: 0;
		left: 0;
		z-index: -1;
		width: 1px;
		padding: 0;
		border-style: none;
		outline: none;
		opacity: 0;
		resize: none;
		white-space: pre;
		overflow: hidden;
		pointer-events: none;
	}

	&-tip {
		position: absolute;
		z-index: 99;
		min-width: 120px;
		border-radius: 4px;
		line-height: 1.2em;
		border: 1px solid var(--my-editorWidget-border);
		background-color: var(--my-editorWidget-background);
		box-shadow: 0px 0px 8px 2px var(--my-widget-shadow);
		color: var(--my-editorWidget-foreground);
	}

	&-tip-content {
		padding: 5px 10px;
	}

	&-minimap-wrap {
		flex-shrink: 0;
		width: 120px;
		height: 100%;
	}
}
