.my {
    &-editor-bar {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 40px;
        border-bottom: 1px solid var(--my-editorGroupHeader-border);
        background-color: var(--my-editorGroupHeader-tabsBackground);

        .bar-scroller {
            width: 100%;
            height: 100%;
            display: flex;
            align-items: center;
        }

        .bar-item {
            position: relative;
            flex-shrink: 0;
            height: 100%;
            padding: 5px;
            border: 1px solid transparent;
            border-right: 1px solid var(--my-tab-border);
            background-color: var(--my-tab-inactiveBackground);
            color: var(--my-tab-inactiveForeground);
            cursor: pointer;

            &:hover {
                border-bottom: 1px solid var(--my-tab-hoverBorder);
                background-color: var(--my-tab-hoverBackground);
                color: var(--my-tab-hoverForeground);
                .bar-close-icon {
                    display: block;
                }
            }

            &.active {
                border-top: 1px solid var(--my-tab-activeBorderTop);
                border-bottom: 1px solid var(--my-tab-activeBorder);
                background-color: var(--my-tab-activeBackground);
                color: var(--my-tab-activeForeground);

                .bar-content {
                    border: 1px solid var(--my-contrastActiveBorder) !important;
                }

                .bar-close-icon {
                    display: block;
                }
            }

            .bar-content {
                position: relative;
                display: flex;
                align-items: center;
                height: 100%;
                padding-left: 15px;
                padding-right: 40px;
                border: 1px solid transparent;
                &:hover {
                    border: 1px dotted var(--my-contrastActiveBorder);
                }
            }

            .bar-icon {
                position: absolute;
                top: 0;
                right: 0;
                height: 100%;
                display: flex;
                align-items: center;
                justify-content: center;
                width: 40px;
                font-size: 12px;

                &:hover {
                    .bar-close-icon {
                        display: block !important;
                    }

                    .bar-dot {
                        display: none !important;
                    }
                }
            }

            .bar-close-icon {
                display: none;
            }

            .bar-dot {
                width: 8px;
                height: 8px;
                border-radius: 50%;
                background-color: yellowgreen;
            }
        }
    }
}
