.my {
    &-fold {
        position: absolute;
        top: 0;
        right: 0;
        display: flex;
        align-items: center;
        width: 16px;
        height: 100%;
        cursor: pointer;
        opacity: 0;
        transition: opacity 0.4s;
    }

    &-num-content:hover .my-fold {
        opacity: 1;
    }

    &-fold-close {
        opacity: 1;
    }
}