@font-face {
    font-family: 'iconfont'; /* Project id 3194546 */
    src: url('../assets/font/my-editor.woff2') format('woff2');
}

.iconfont {
    font-family: 'iconfont' !important;
    font-size: 16px;
    font-style: normal;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.icon-property:before {
    content: '\ed7a';
}

.icon-value:before {
    content: '\e67d';
}

.icon-function:before {
    content: '\e607';
}

.icon-class:before {
    content: '\e617';
}

.icon-error:before {
    content: '\e654';
}

.icon-close:before {
    content: '\e650';
}

.icon-zuixiaohua:before {
    content: '\e65a';
}

.icon-zuidahua:before {
    content: '\e65d';
}

.icon-huanyuan:before {
    content: '\e692';
}

.icon-replace-all:before {
    content: '\ed7c';
}

.icon-whole-word:before {
    content: '\ed7d';
}

.icon-replace:before {
    content: '\ed7e';
}

.icon-down1:before {
    content: '\e61a';
}

.icon-right:before {
    content: '\e682';
}

.icon-down:before {
    content: '\e6a8';
}

.icon-up:before {
    content: '\e6a9';
}
