.my {
	&-status-untracked {
		color: var(--my-gitDecoration-untrackedResourceForeground);
	}
	&-status-added {
		color: var(--my-gitDecoration-addedResourceForeground);
	}
	&-status-conflicted {
		color: var(--my-gitDecoration-conflictingResourceForeground);
	}
	&-status-modified {
		color: var(--my-gitDecoration-modifiedResourceForeground);
	}
    &-status-renamed {
		color: var(--my-gitDecoration-renamedResourceForeground);
	}
	&-status-deleted {
		color: var(--my-gitDecoration-deletedResourceForeground);
	}
}
