.my {
    &-list {
        border: 1px solid var(--my-editorWidget-border);
        background-color: var(--my-editorWidget-background);
        color: var(--my-editorWidget-foreground);

        .my-menu {
            border: none;
            background-color: transparent;
            color: var(--my-foreground);
            box-shadow: none;
            .my-menu-group {
                padding: 0;
            }

            .my-menu-item {
                height: 26px;
                &:hover {
                    background-color: var(--my-list-hoverBackground);
                    color: var(--my-list-hoverForeground);
                }

                &.my-active {
                    border: 1px solid transparent;
                    background-color: var(--my-list-activeSelectionBackground);
                    color: var(--my-list-activeSelectionForeground);
                }
            }
        }
    }

    &-menu {
        position: absolute;
        z-index: 99;
        min-width: 200px;
        user-select: none;
        box-shadow: 2px 2px 8px var(--my-widget-shadow);
        border: 1px solid var(--my-menu-border);
        background-color: var(--my-menu-background);
        color: var(--my-menu-foreground);
    }

    &-menu-group {
        padding: 5px 0;
        border-bottom: 1px solid var(--my-menu-separatorBackground);

        &:last-child {
            border-bottom: none;
        }
    }

    &-menu-item {
        position: relative;
        padding: 0 10px;
        white-space: nowrap;
        min-width: 80px;
        height: 30px;
        border: 1px solid transparent;

        &.my-active {
            border: 1px solid var(--my-menu-selectionBorder);
            background-color: var(--my-menu-selectionBackground);
            color: var(--my-menu-selectionForeground);
        }

        &.disabled {
            &:hover {
                background-color: transparent;
                cursor: auto;
            }

            .my-menu-title,
            .my-menu-shortcut {
                color: #999999;
            }
        }
    }

    &-menu-content {
        font-size: 12px;
        color: #999999;
    }

    &-menu-shortcut {
        margin-left: 20px;
    }
}
