.my {
	&-list {
		border: 1px solid var(--my-editorWidget-border);
		box-shadow: 2px 2px 8px var(--my-widget-shadow);
		background-color: var(--my-editorWidget-background);
		color: var(--my-editorWidget-foreground);

		.my-menu {
			position: relative;
			border: none;
			box-shadow: none;
			background-color: transparent;
			color: var(--my-foreground);

			&-scroller {
				position: relative;
				overflow: hidden;
			}

			&-content {
				position: absolute;
				left: 0;
				width: 100%;
				height: 200%;
				overflow: hidden;
				contain: strict;
				transform: translate3d(0px, 0px, 0px);
			}

			.my-menu-item {
				height: 30px;

				&.my-active {
					border-style: solid;
					border-color: var(--my-contrastActiveBorder);
					background-color: var(--my-list-activeSelectionBackground);
					color: var(--my-list-activeSelectionForeground);
				}
			}
		}
	}

	&-cmd-panel {
		.my-menu .my-menu-item {
			&.my-active {
				border-style: dotted;
				border-color: var(--my-contrastActiveBorder);
				background-color: var(--my-quickInputList-focusBackground);
				color: var(--my-quickInputList-focusForeground);
			}
		}
	}

	&-dropdown {
		position: absolute;
		z-index: 99;
		border: 1px solid var(--my-dropdown-border);
		background-color: var(--my-dropdown-background);
		color: var(--my-dropdown-foreground);
	}

	&-title-bar {
		.my-menu-item {
			height: 30px !important;
		}
	}

	&-menu {
		position: absolute;
		z-index: 99;
		min-width: 200px;
		user-select: none;
		border: 1px solid var(--my-menu-border);
		box-shadow: 2px 2px 8px var(--my-widget-shadow);
		background-color: var(--my-menu-background);
		color: var(--my-menu-foreground);
	}

	&-separator {
		height: 1px;
		margin: 5px 0;
		background-color: var(--my-menu-separatorBackground);
	}

	&-menu-item {
		position: relative;
		padding-right: 10px;
		white-space: nowrap;
		min-width: 80px;
		height: 30px;
		border: 1px solid transparent;

		&:hover {
			border-style: dotted;
			border-color: var(--my-contrastActiveBorder);
			background-color: var(--my-list-hoverBackground);
			color: var(--my-list-hoverForeground);
		}

		&.my-active {
			border-color: var(--my-menu-selectionBorder);
			background-color: var(--my-menu-selectionBackground);
			color: var(--my-menu-selectionForeground);
		}

		&.disabled {
			&:hover {
				background-color: transparent;
				cursor: auto;
			}

			.my-menu-title,
			.my-menu-shortcut {
				opacity: 0.5;
			}
		}
	}

	&-menu-left {
		flex-grow: 1;
		display: flex;
		align-items: center;
		overflow: hidden;
		padding-left: 10px;

		.my-file-icon {
			display: flex;

			&::before {
				margin-left: 0px;
			}
		}
	}

	&-menu-left-select {
		display: flex;
		width: 20px;
		margin-left: -5px;
	}

	&-menu-title {
		flex-shrink: 0;
		overflow: hidden;
		text-overflow: ellipsis;

		.my-unmatch-char {
			opacity: 1;
		}
	}

	&-menu-desc {
		flex-grow: 1;
		margin-left: 10px;
		overflow: hidden;
		text-overflow: ellipsis;
		font-size: 12px;
	}

	&-menu-shortcut {
		flex-shrink: 0;
		min-width: 80px;
		margin-left: 20px;
		text-align: right;
	}
}
