.my {

    &-status-bar,
    &-menu-bar {
        position: absolute;
        bottom: 0;
        z-index: 99;
        background-color: rgb(221, 221, 221);
        user-select: none;

        .bar-left {
            height: 100%;
            display: flex;
        }

        .bar-right {
            height: 100%;
            display: flex;
        }

        .bar-item {
            position: relative;
            height: 100%;
            display: flex;
            align-items: center;
            justify-content: center;
            padding: 0 20px;
            min-width: 120px;
        }
    }

    &-menu-bar {
        -webkit-app-region: drag;
        top: 0;
        bottom: auto;
        min-width: auto;

        .bar-item {
            -webkit-app-region: no-drag;
            min-width: auto;
            padding: 0 10px;
        }
    }

    &-status-bar {
        .my-menu {
            min-width: 120px;
        }
    }
}