.my {
	&-minimap {
		position: relative;
		width: 100%;
		height: 100%;

		canvas {
			position: absolute;
			height: 100%;
		}

		&-canvas-left {
			left: 0;
			width: 8px;
		}

		&-canvas-center {
			left: 8px;
			right: 14px;
		}

		&-canvas-right {
			right: 0;
			width: 14px;
		}

		&-block {
			position: absolute;
			top: 0;
			left: 0;
			right: 14px;
			height: 10%;
			transform: translate3d(0px, 0px, 0px);
			contain: strict;
		}

		&:hover {
			.my-minimap-block {
				opacity: 0.8;
				background-color: var(--my-scrollbarSlider-background);

				&:hover {
					background-color: var(--my-scrollbarSlider-hoverBackground);
				}

				&:active {
					background-color: var(--my-scrollbarSlider-activeBackground);
				}
			}
		}
	}
}
