.my {
    &-search {
        position: absolute;
        top: 0;
        right: 20px;
        z-index: 98;
        width: 500px;
        display: flex;
        justify-content: space-between;
        padding: 5px 10px 5px 25px;
        box-shadow: 0 0 8px 2px var(--my-widget-shadow);
        border: 1px solid var(--my-editorWidget-border);
        background-color: var(--my-editorWidget-background);
        color: var(--my-editorWidget-foreground);

        .iconfont {
            display: inline-block;
            width: 22px;
            height: 22px;
            line-height: 22px;
            font-size: 18px;
            text-align: center;
            cursor: pointer;
        }

        .active-click {
            border-radius: 4px;
            border: 1px solid transparent;
        }

        .active-click:hover {
            background-color: var(--my-toolbar-hoverBackground);
        }

        .active-click:focus {
            border-color: var(--my-focusBorder);
        }

        .disabled-color {
            opacity: 0.5;

            &:hover {
                background-color: transparent;
            }

            &:active {
                border-color: transparent;
            }
        }

        .enable-color {
            color: var(--my-editorWidget-foreground);
        }

        .no-result.my-active {
            color: red;
        }

        .my-search-suffix {
            width: 22px;
            height: 22px;
            line-height: 22px;
            text-align: center;
            margin-right: 4px;
            border-radius: 4px;
            border: 1px solid transparent;
            cursor: pointer;

            &:hover {
                background-color: var(--my-inputOption-hoverBackground);
            }

            &.my-active {
                border-color: var(--my-inputOption-activeBorder);
                background-color: var(--my-inputOption-activeBackground);
                color: var(--my-inputOption-activeForeground);
            }
        }
    }

    &-search-left {
        position: absolute;
        top: 0;
        left: 0;
        width: 25px;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        cursor: pointer;
    }

    &-search-right,
    &-search-top,
    &-search-bottom {
        display: flex;
        align-items: center;
        height: 30px;
    }

    &-search-input {
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 280px;
        margin-right: 5px;
        background-color: var(--my-input-background);
        color: var(--my-input-foreground);
        border: 1px solid transparent;
        border-color: var(--my-input-border);

        &.my-active {
            border-color: var(--my-focusBorder);
        }

        input {
            flex-grow: 1;
            height: 30px;
            line-height: 30px;
            padding: 0 5px;
            border-style: none;
            outline: none;
            background-color: transparent;
            color: var(--my-input-foreground);
        }
    }
}
