.my {
	&-shortcut-panel {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		padding: 15px;
		user-select: none;

		.edit-col {
			display: flex;
			justify-content: center;
			width: 50px;
		}

		.command-col {
			flex: 2;
		}

		.key-col {
			flex: 1;
		}

		.when-col {
			flex: 1;
		}

		.source-col {
			width: 80px;
		}
	}

	&-shortcut-search {
		display: flex;
		align-items: center;

		input {
			width: 100%;
			height: 35px;
			padding: 0 15px;
			background-color: var(--my-input-background);
			color: var(--my-input-foreground);
			border: 1px solid transparent;
			border-color: var(--my-input-border);
			outline: none;

			&:focus {
				border-color: var(--my-focusBorder);
			}
		}
	}

	&-shortcut-title {
		display: flex;
		align-items: center;
		justify-content: space-between;
		height: 45px;
		border-bottom: 1px solid var(--my-focusBorder);
	}

	&-shortcut-scoller {
		position: absolute;
		top: 95px;
		bottom: 0;
		left: 15px;
		right: 15px;
		overflow: hidden;
	}

	&-shortcut-content {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 1000000px;
		overflow: hidden;
		transform: translate3d(0, 0, 0);
		contain: strict;
	}

	&-shortcut-item {
		display: flex;
		align-items: center;
		justify-content: space-between;
		height: 30px;
		border: 1px solid transparent;

		.my-icon-edit {
			display: none;
			cursor: pointer;
		}

		&:hover {
			border-style: dotted;
			border-color: var(--my-contrastActiveBorder);
			background-color: var(--my-list-hoverBackground);
			color: var(--my-list-hoverForeground);

			.my-icon-edit {
				display: block;
			}
		}

		&.my-active {
			border-color: var(--my-contrastActiveBorder);
			background-color: var(--my-list-activeSelectionBackground);
			color: var(--my-list-activeSelectionForeground);

			.my-icon-edit {
				display: block;
			}
		}
	}

	&-shortcut-overlay {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
	}

	&-shortcut-edit {
		position: absolute;
		top: 50%;
		left: 50%;
		width: 500px;
		height: 155px;
		padding: 0 15px;
		transform: translate(-50%, -50%);
		background-color: var(--my-sideBar-background);
		box-shadow: 0px 0px 8px 2px var(--my-widget-shadow);

		.edit-tip {
			text-align: center;
			line-height: 40px;
		}

		input {
			width: 100%;
			height: 35px;
			padding: 0 20px;
			background-color: var(--my-input-background);
			color: var(--my-input-foreground);
			border: 1px solid transparent;
			border-color: var(--my-input-border);
			text-align: center;
			outline: none;

			&:focus {
				border-color: var(--my-focusBorder);
			}
		}
	}
}
