.my {
    &-side-bar {
        position: relative;
        flex-shrink: 0;
        width: 300px;
        height: 100%;
        background-color: rgb(238, 238, 238);

        .side-bar-title {
            padding-left: 16px;
            height: 40px;
            line-height: 40px;
        }

        .side-tree {
            position: relative;

            &-warp {
                position: absolute;
                top: 40px;
                bottom: 0;
                left: 0;
                right: 0;
                overflow: overlay;

                &::-webkit-scrollbar {
                    width: 8px;
                }

                &::-webkit-scrollbar-thumb {
                    background-color: transparent;
                }

                &:hover {
                    &::-webkit-scrollbar-thumb {
                        border-radius: 4px;
                        background-color: rgba(0, 0, 0, 0.1);
                    }
                }
            }

            &-content {
                position: absolute;
                left: 0;
                width: 100%;
            }
        }

        .side-item {
            position: relative;
            white-space: nowrap;

            &-title {
                display: flex;
                align-items: center;
                height: 30px;
                padding-right: 10px;
            }

            &-text {
                overflow: hidden;
                text-overflow: ellipsis;
            }
        }
    }
}