.my {
	&-side-bar {
		position: relative;
		height: 100%;
		user-select: none;

		.side-bar-title {
			padding-left: 20px;
			height: 40px;
			line-height: 40px;
			color: var(--my-sideBarTitle-foreground);
		}

		.side-tree {
			position: relative;

			&-warp {
				position: absolute;
				top: 40px;
				bottom: 0;
				left: 0;
				right: 0;
			}

			&-content {
				position: absolute;
				left: 0;
				width: 100%;
			}
		}

		.tree-item {
			position: relative;
			white-space: nowrap;

			&-title {
				height: 30px;
				padding-right: 10px;
				border: 1px solid transparent;
				cursor: pointer;

				&:hover {
					border-style: dotted;
					border-color: var(--my-contrastActiveBorder);
					background-color: var(--my-list-hoverBackground);
					color: var(--my-list-hoverForeground);
				}

				&.my-active {
					border-color: var(--my-contrastActiveBorder);
					background-color: var(--my-list-activeSelectionBackground);
					color: var(--my-list-activeSelectionForeground);
				}
			}

			&-content {
				width: 100%;
			}

			&-text {
				overflow: hidden;
				text-overflow: ellipsis;
			}
		}
	}
}
