.my {
    &-status-bar {
        position: absolute;
        bottom: 0;
        z-index: 99;
        border-top: 1px solid var(--my-statusbar-border);
        background-color: var(--my-statusbar-background);
        color: var(--my-statusbar-foreground);
        user-select: none;

        .bar-left {
            height: 100%;
            display: flex;
        }

        .bar-right {
            height: 100%;
            display: flex;
        }

        .bar-item {
            position: relative;
            height: 100%;
            display: flex;
            align-items: center;
            justify-content: center;
            padding: 0 20px;
            min-width: 120px;
            &.my-hover:hover {
                background-color: var(--my-statusbarItem-hoverBackground);
            }
            &.my-hover:active {
                background-color: var(--my-statusbarItem-activeBackground);
            }
        }

        .my-menu {
            min-width: 120px;
        }
    }
}
