.my {
	&-terminal {
		position: relative;
		height: 100%;
		font-size: 14px;
		line-height: 1.5em;
		letter-spacing: 0px;
		font-family: Consolas, 'Courier New', monospace;

		&-content {
			position: relative;
			cursor: text;
		}

		&-render {
			position: absolute;
			left: 0;
			min-width: 100%;
		}

		&-cursor {
			position: relative;
			display: inline-block;
			width: 2px;
			background-color: var(--my-editorCursor-foreground);
			pointer-events: none;
			white-space: pre;
			opacity: 0;

			&::before {
				content: ' ';
			}
		}

		&-textarea {
			position: absolute;
			width: 1px;
			padding: 0;
			border: none;
			outline: none;
			opacity: 0;
			overflow: hidden;
			resize: none;
			white-space: pre;
			pointer-events: none;
		}

		&-scroller {
			height: 100%;
			padding: 10px 15px;
			overflow: auto !important;
		}

		&-line {
			white-space: pre;

			span {
				display: inline-block;

				&::selection {
					background-color: var(--my-terminal-selectionBackground);
				}
			}
		}

		&-selection {
			background-color: var(--my-terminal-selectionBackground);
		}
	}
}
