* {
    box-sizing: border-box;
}

html,
body {
    margin: 0;
    padding: 0;
    width: 100;
    height: 100%;
}

#app {
    width: 100;
    height: 100%;
}

.my-editor {
    &-center {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    &-wrap {
        position: relative;
        width: 100%;
        height: 100%;
        overflow: hidden;
        background-color: #272822;
        color: #f8f8f2;
        font-style: normal;
        font-variant-ligatures: normal;
        font-variant-caps: normal;
        font-variant-numeric: normal;
        font-variant-east-asian: normal;
        font-weight: normal;
        font-stretch: normal;
        font-size: 13px;
        line-height: 1.5em;
        font-family: Consolas, "Courier New", monospace;
        user-select: none;
        -webkit-tap-highlight-color: rgab(0, 0, 0, 0);
    }

    &-nums {
        position: relative;
        float: left;
        overflow: hidden;

        &:hover {
            .my-editor-fold {
                opacity: 1;
            }
        }
    }

    &-num {
        position: relative;
        padding: 0 20px;
        color: #999999;
        text-align: right;

        &-active {
            background-color: #3e3d32;
        }
    }

    &-content {
        position: relative;
        float: left;
        height: 1000000px;
        padding-right: 2px;
        cursor: text;

        &-wrap {
            position: relative;
            height: 100%;
            overflow: hidden;
        }

        &-scroller {
            position: relative;
            height: 100%;
            overflow: hidden;
            margin-right: 17px;
        }
    }

    &-line {
        position: relative;
        z-index: 1;
        white-space: nowrap;

        &.active::before {
            content: "";
            position: absolute;
            left: 0;
            top: 0;
            z-index: -1;
            width: 100%;
            height: 1px;
            background-color: #3e3d32;
        }

        &.active::after {
            content: "";
            position: absolute;
            left: 0;
            bottom: 0;
            z-index: -1;
            width: 100%;
            height: 1px;
            background-color: #3e3d32;
        }
    }

    &-line-bg {
        position: absolute;
        top: 0;
        z-index: 0;
        height: 100%;
    }

    &-bg-color {
        background-color: #49483e;
    }

    &-tab-line {
        position: absolute;
        top: 0;
        z-index: 2;
        width: 0px;
        height: 100%;
        border-left: 1px solid #3e3d32;
    }

    &-code {
        position: relative;
        z-index: 1;
        display: inline-block;
        height: 100%;
        white-space: pre;
        // font-family: monospace;

        span {
            display: inline-block;
        }

        &.fold-close::before {
            content: "...";
            position: absolute;
            top: 50%;
            left: 100%;
            height: 8px;
            margin-top: -4px;
            background-color: rgb(255, 221, 51);
            border-radius: 2px;
            color: transparent;
            transform: scaleX(0.6);
        }

        &.fold-close::after {
            content: "...";
            position: absolute;
            top: -3px;
            left: 100%;
            color: #333333;
            transform: scaleX(0.6);
        }
    }

    &-cursor {
        position: absolute;
        left: 0;
        z-index: 2;
        width: 1px;
        background-color: #fff;
    }

    &-textarea {
        position: absolute;
        top: 0;
        left: 0;
        z-index: -1;
        width: 1px;
        padding: 0;
        border-style: none;
        outline: none;
        opacity: 0;
    }

    &-v-scroller-wrap {
        position: absolute;
        z-index: 1;
        top: 0;
        bottom: 17px;
        right: 0;
        width: 17px;
        overflow: auto;
    }

    &-h-scroller-wrap {
        position: absolute;
        z-index: 1;
        bottom: 0;
        left: 0;
        right: 17px;
        height: 17px;
        overflow: auto;
    }

    &-v-scroller {
        width: 100%;
    }

    &-h-scroller {
        height: 100%;
    }

    &-h-scroller-wrap::-webkit-scrollbar,
    &-v-scroller-wrap::-webkit-scrollbar {
        border-radius: 4px;
        background-color: rgb(76, 77, 72);
        box-shadow: 0 0 20px rgba(0, 0, 0, .2);
    }

    &-v-scroller-wrap::-webkit-scrollbar {
        width: 8px;
    }

    &-h-scroller-wrap::-webkit-scrollbar {
        height: 8px;
    }

    &-h-scroller-wrap::-webkit-scrollbar-thumb,
    &-v-scroller-wrap::-webkit-scrollbar-thumb {
        border-radius: 4px;
        background-color: rgb(115, 116, 112);
    }

    // 折叠标记-begin

    &-fold {
        position: absolute;
        top: 0;
        right: 0;
        width: 20px;
        height: 100%;
        cursor: pointer;
        opacity: 0;
        // transition: opacity 0.2s;
    }

    &-fold-open:after {
        display: block;
        content: '';
        border-width: 6px 4px 0 4px;
        border-style: solid;
        border-color: rgb(139, 139, 132) transparent;
    }

    &-fold-open:hover:after {
        display: block;
        content: '';
        border-width: 6px 4px 0 4px;
        border-style: solid;
        border-color: rgb(200, 200, 200) transparent;
    }

    &-fold-close {
        opacity: 1;
    }

    &-fold-close:after {
        display: block;
        content: '';
        border-width: 4px 0 4px 6px;
        border-style: solid;
        border-color: transparent rgb(139, 139, 132);
    }

    &-fold-close:hover:after {
        display: block;
        content: '';
        border-width: 4px 0 4px 6px;
        border-style: solid;
        border-color: transparent rgb(200, 200, 200);
    }

    // 折叠标记-end

    // 提示图标-begin

    &-icon {
        position: absolute;
        top: 0;
        left: 0;
        width: 20px;
        height: 100%;

        &-error::before {
            content: "×";
            display: flex;
            align-items: center;
            justify-content: center;
            width: 10px;
            height: 10px;
            border-radius: 50%;
            border: 1px solid red;
            color: red;
        }
    }

    // 提示图标-end

    // 状态栏-begin

    &-status-bar {
        position: absolute;
        bottom: 0;
        z-index: 99;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;
        background-color: rgb(171, 177, 186);
        color: #333333;
        font-size: 12px;
    }

    &-status-left {
        height: 100%;
        display: flex;
    }

    &-status-right {
        height: 100%;
        display: flex;
    }

    &-status-item {
        position: relative;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 0 20px;
        min-width: 120px;

        &.clickable {
            cursor: pointer;

            &:hover {
                background-color: #c2cbd8;
            }
        }
    }

    // 状态栏-end

    // 面板-begin

    &-panel {
        position: absolute;
        z-index: 99;
        min-width: 120px;
        background-color: #fff;
        border-radius: 4px;
        padding: 10px 0;
        color: #333333;
    }

    &-menu-group {
        border-bottom: 1px solid #eeeeee;

        &:last-child {
            border-bottom: none;
        }
    }

    &-menu-item {
        position: relative;
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding-left: 25px;
        padding-right: 10px;
        font-size: 12px;
        line-height: 18px;
        white-space: nowrap;
        min-width: 80px;

        &:hover {
            background-color: #c2cbd8;
            cursor: pointer;
        }

        &:last-child {
            .my-editor-menu-content {
                border-bottom: none;
            }
        }

        &.checked:before {
            content: '√';
            position: absolute;
            top: 5px;
            left: 10px;
        }

        &.disabled {

            &:hover {
                background-color: transparent;
                cursor: auto;
            }

            .my-editor-menu-content,
            .my-editor-menu-shortcut {
                color: #999999;
            }
        }
    }

    &-menu-content {
        padding: 5px 0;
    }

    &-menu-shortcut {
        margin-left: 20px;
    }

    // 面板-end

    // 提示-begin

    &-tip {
        position: absolute;
        z-index: 99;
        min-width: 120px;
        background-color: #fff;
        border-radius: 4px;
        padding: 5px 10px;
        color: #666666;
        line-height: 1.2em;
    }

    // 提示-end
}