// @import url('//at.alicdn.com/t/font_3194546_u8br6ykv1ji.css');
@import 'font';
@import 'icon';
@import 'auto-tip';
@import 'code';
@import 'dialog';
@import 'editor';
@import 'folder';
@import 'menu';
@import 'activity-bar';
@import 'editor-bar';
@import 'search';
@import 'side-bar';
@import 'title-bar';
@import 'status-bar';
@import 'cmd-panel';
@import 'terminal';
@import 'git';
@import 'minimap';
@import 'shortcut';

* {
	box-sizing: border-box;
	&::before,
	&::after {
		box-sizing: border-box;
	}
}

html,
body {
	margin: 0;
	padding: 0;
	width: 100;
	height: 100%;
	font-family: Segoe WPC, Segoe UI, sans-serif;
	font-size: 15px;
	color: #575757;
}

input,
textarea {
	font-family: Consolas, 'Courier New', monospace;
	font-size: 15px;
	&::selection {
		background-color: var(--my-selection-background);
	}
}

#app {
	width: 100;
	height: 100%;
}

.my {
	&-position-relative {
		position: relative;
	}

	&-position-absolute {
		position: absolute;
	}

	&-width-100 {
		width: 100%;
	}

	&-height-100 {
		height: 100%;
	}

	&-display-block {
		display: block !important;
	}

	&-scroll-auto {
		overflow: auto;

		&::-webkit-scrollbar {
			width: 14px;
			height: 14px;
			background-color: transparent;
		}

		&::-webkit-scrollbar-corner {
			background-color: transparent;
		}

		&::-webkit-scrollbar-thumb {
			background-color: var(--my-scrollbarSlider-background);

			&:hover {
				background-color: var(--my-scrollbarSlider-hoverBackground);
			}

			&:active {
				background-color: var(--my-scrollbarSlider-activeBackground);
			}
		}
	}

	&-scroll-overlay {
		overflow: overlay;

		&::-webkit-scrollbar {
			width: 14px;
			height: 14px;
			background-color: transparent;
		}

		&::-webkit-scrollbar-thumb {
			background-color: transparent;
		}

		&::-webkit-scrollbar-corner {
			background-color: transparent;
		}

		&:hover {
			&::-webkit-scrollbar-thumb {
				background-color: var(--my-scrollbarSlider-background);

				&:hover {
					background-color: var(--my-scrollbarSlider-hoverBackground);
				}

				&:active {
					background-color: var(--my-scrollbarSlider-activeBackground);
				}
			}
		}
	}

	&-scroll-mini {
		&.my-scroll-bar-v {
			width: 6px;
		}

		&.my-scroll-bar-h {
			height: 6px;
		}

		&::-webkit-scrollbar {
			width: 6px;
			height: 6px;
		}
	}

	&-scroll-small {
		&.my-scroll-bar-v {
			width: 10px;
		}

		&.my-scroll-bar-h {
			height: 10px;
		}

		&::-webkit-scrollbar {
			width: 10px;
			height: 10px;
		}
	}

	&-scroll-bar-v,
	&-scroll-bar-h {
		position: absolute;
		overflow: hidden;
		opacity: 0;
		transition: opacity 0.8s;

		&:active {
			.my-scroll-slider {
				background-color: var(--my-scrollbarSlider-activeBackground);
			}
		}

		&.my-scroll-visible,
		&.my-scroll-clicked {
			opacity: 1;
		}
	}

	&-scroll-bar-v {
		top: 0;
		bottom: 0;
		right: 0;
		width: 14px;

		.my-scroll-slider {
			width: 100%;
		}
	}

	&-scroll-bar-h {
		left: 0;
		right: 0;
		bottom: 0;
		height: 14px;

		.my-scroll-slider {
			height: 100%;
		}
	}

	&-scroll-slider {
		position: absolute;
		background-color: var(--my-scrollbarSlider-background);

		&:hover {
			background-color: var(--my-scrollbarSlider-hoverBackground);
		}
	}

	&-hover {
		cursor: pointer;
	}

	&-hover-danger {
		cursor: pointer;

		&:hover {
			background-color: red;
			color: white;
		}
	}

	&-file-icon::before {
		position: relative;
		display: inline-block;
		flex-shrink: 0;
		width: 16px;
		height: 22px;
		line-height: 22px;
		margin: 0 6px;
		background-size: 16px;
		background-position: 0;
		background-repeat: no-repeat;
	}

	&-icon-error {
		width: 14px;
		height: 14px;
		background: url(@/assets/image/error.svg);
		background-size: contain;
		background-position: center;
	}

	&-icon-warn {
		width: 14px;
		height: 14px;
		background: url(@/assets/image/warn.svg);
		background-size: contain;
		background-position: center;
	}

	&-match-char {
		opacity: 1;
		font-weight: bold;
	}

	&-unmatch-char {
		opacity: 0.7;
	}

	&-center-center {
		display: flex;
		align-items: center;
		justify-content: center;
	}

	&-center-between {
		display: flex;
		align-items: center;
		justify-content: space-between;
	}

	&-center-start {
		display: flex;
		align-items: center;
	}

	&-window {
		display: flex;
		position: relative;
		width: 100%;
		height: 100%;
		overflow: hidden;
		background-color: var(--my-background);
		color: var(--my-foreground);
	}

	&-left-warp {
		display: flex;
		flex-shrink: 0;
		position: relative;
		height: 100%;
		border-right: 1px solid var(--my-sideBar-border);
		background-color: var(--my-sideBar-background);
		color: var(--my-sideBar-foreground);
	}

	&-right-wrap {
		flex-grow: 1;
		display: flex;
		flex-direction: column;
		position: relative;
		height: 100%;
		overflow: hidden;
		background-color: var(--my-editor-background);
	}

	&-sash-v {
		position: relative;
		z-index: 99;
		width: 0;
		height: 100%;
		cursor: ew-resize;

		&::after {
			content: '';
			position: absolute;
			top: 0;
			right: 0;
			width: 4px;
			height: 100%;
			opacity: 0;
			transition: opacity 0.8s;
			background-color: var(--my-sash-hoverBorder);
		}

		&:hover::after {
			opacity: 1;
		}
	}

	&-sash-h {
		position: relative;
		z-index: 99;
		width: 100%;
		height: 0;
		cursor: ns-resize;

		&::after {
			content: '';
			position: absolute;
			left: 0;
			bottom: 0;
			width: 100%;
			height: 4px;
			opacity: 0;
			transition: opacity 0.8s;
			background-color: var(--my-sash-hoverBorder);
		}

		&:hover::after {
			opacity: 1;
		}
	}
}
