@import url('//at.alicdn.com/t/font_3194546_u8br6ykv1ji.css');
@import 'auto-tip';
@import 'code';
@import 'dialog';
@import 'editor';
@import 'folder';
@import 'menu';
@import 'editor-bar';
@import 'search';
@import 'side-bar';
@import 'title-bar';
@import 'status-bar';
@import 'cmd-panel';

* {
    box-sizing: border-box;
    &::before,
    &::after {
        box-sizing: border-box;
    }
}

html,
body {
    margin: 0;
    padding: 0;
    width: 100;
    height: 100%;
    color: #575757;
}

#app {
    width: 100;
    height: 100%;
}

.my {
    &-position-relative {
        position: relative;
    }

    &-position-absolute {
        position: absolute;
    }

    &-width-100 {
        width: 100%;
    }

    &-height-100 {
        height: 100%;
    }

    &-scroll-auto {
        overflow: auto;
        &::-webkit-scrollbar {
            width: 12px;
            height: 12px;
            background-color: transparent;
        }

        &::-webkit-scrollbar-thumb {
            background-color: var(--my-scrollbarSlider-background);
        }
    }

    &-scroll-overlay {
        overflow: overlay;

        &::-webkit-scrollbar {
            width: 14px;
            height: 14px;
            background-color: transparent;
            box-shadow: 0 0 8px var(--my-scrollbar-shadow);
        }

        &::-webkit-scrollbar-thumb {
            background-color: transparent;
        }

        &:hover {
            &::-webkit-scrollbar-thumb {
                background-color: var(--my-scrollbarSlider-background);
            }
        }
    }

    &-scroll-mini {
        &::-webkit-scrollbar {
            width: 8px;
            height: 8px;
        }
    }

    &-hover {
        cursor: pointer;
    }

    &-hover-danger {
        cursor: pointer;

        &:hover {
            background-color: red;
            color: white;
        }
    }

    &-icon-error {
        width: 14px;
        height: 14px;
        background: url(@/assets/image/error.svg);
        background-size: contain;
        background-position: center;
    }

    &-icon-warn {
        width: 14px;
        height: 14px;
        background: url(@/assets/image/warn.svg);
        background-size: contain;
        background-position: center;
    }

    &-center-center {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    &-center-between {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    &-window {
        display: flex;
        position: relative;
        width: 100%;
        height: 100%;
        overflow: hidden;
        font-size: 13px;
        background-color: var(--my-background);
        color: var(--my-foreground);
    }

    &-right-wrap {
        flex-grow: 1;
        position: relative;
        padding-top: 40px;
        height: 100%;
        overflow: hidden;
        background-color: var(--my-editor-background);
    }
}
