@import url('//at.alicdn.com/t/font_3194546_u8br6ykv1ji.css');
@import 'auto-tip';
@import 'code';
@import 'dialog';
@import 'editor';
@import 'folder';
@import 'menu';
@import 'editor-bar';
@import 'search';
@import 'side-bar';
@import 'title-bar';
@import 'status-bar';
@import 'cmd-panel';

* {
    box-sizing: border-box;
}

html,
body {
    margin: 0;
    padding: 0;
    width: 100;
    height: 100%;
    color: #575757;
}

#app {
    width: 100;
    height: 100%;
}

.my {
    &-position-relative {
        position: relative;
    }

    &-position-absolute {
        position: absolute;
    }

    &-width-100 {
        width: 100%;
    }

    &-height-100 {
        height: 100%;
    }

    &-scroll-overlay {
        overflow: overlay;

        &::-webkit-scrollbar {
            width: 6px;
            height: 6px;
            border-radius: 6px;
        }

        &::-webkit-scrollbar-thumb {
            background-color: transparent;
        }

        &:hover {
            &::-webkit-scrollbar-thumb {
                border-radius: 6px;
                background-color: rgba(200, 200, 200, 0.5);
            }
        }
    }

    &-hover {
        cursor: pointer;
    }

    &-hover-danger {
        cursor: pointer;

        &:hover {
            background-color: red;
            color: white;
        }
    }

    &-icon-error {
        width: 14px;
        height: 14px;
        background: url(@/assets/image/error.svg);
        background-size: contain;
        background-position: center;
    }

    &-icon-warn {
        width: 14px;
        height: 14px;
        background: url(@/assets/image/warn.svg);
        background-size: contain;
        background-position: center;
    }

    &-center-center {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    &-center-between {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    &-window {
        display: flex;
        position: relative;
        width: 100%;
        height: 100%;
        overflow: hidden;
        font-size: 13px;
        background-color: var(--my-background);
        color: var(--my-foreground);
    }

    &-right-wrap {
        flex-grow: 1;
        position: relative;
        padding-top: 40px;
        height: 100%;
        overflow: hidden;
    }
}

:root {
    --my-foreground: #575757;
    --my-background: #fff;
    --my-titlebar-activeForeground: #575757;
    --my-titlebar-activeBackground: #ddd;
    --my-titleBar-border: transparent;
    --my-menubar-selectionForeground: #575757;
    --my-menubar-selectionBackground: rgba(200, 200, 200, 0.4);
    --my-menubar-selectionBorder: transparent;

    --my-menu-foreground: #575757;
    --my-menu-background: #fff;
    --my-menu-border: rgba(200, 200, 200, 0.4);
    --my-menu-selectionForeground: #575757;
    --my-menu-selectionBackground: rgba(200, 200, 200, 0.4);
    --my-menu-selectionBorder: transparent;
    --my-menu-separatorBackground: rgba(200, 200, 200, 0.4);

    --my-statusbar-foreground: #575757;
    --my-statusbar-background: #ddd;
    --my-statusbar-border: transparent;
    --my-statusbarItem-hoverBackground: rgba(200, 200, 200, 0.4);
    --my-statusbarItem-activeBackground: rgba(200, 200, 200, 0.4);

    --my-sidebar-foreground: #575757;
    --my-sidebar-background: #eee;
    --my-sidebar-border: #ddd;
    --my-sidebarTitle-foreground: #575757;

    --my-list-activeSelectionForeground: #fff;
    --my-list-activeSelectionBackground: #0066b8;
    --my-list-focusForeground: #575757;
    --my-list-focusBackground: transparent;
    --my-list-focusOutline: #0066b8;
    --my-list-hoverForeground: #575757;
    --my-list-hoverBackground: rgba(200, 200, 200, 0.4);

    --my-editorGroupHeader-tabsBackground: #eee;
    --my-editorGroupHeader-border: transparent;
    --my-tab-border: transparent;
    --my-tab-activeForeground: #333;
    --my-tab-activeBackground: #fff;
    --my-tab-inactiveForeground: #575757;
    --my-tab-inactiveBackground: transparent;
    --my-tab-activeBorder: transparent;
    --my-tab-activeBorderTop: transparent;
    --my-tab-hoverForeground: #333;
    --my-tab-hoverBackground: rgba(200, 200, 200, 0.4);
    --my-tab-hoverBorder: transparent;

    --my-editor-foreground: #575757;
    --my-editor-background: #fff;
    --my-editorLineNumber-foreground: #999;
    --my-editorLineNumber-activeForeground: #333;
    --my-editorCursor-foreground: #333;
    --my-editor-selectionForeground: #575757;
    --my-editor-selectionBackground: #0097fb6e;
    --my-editor-selectionHighlightBorder: #0098fb;
    --my-editor-selectionHighlightBackground: transparent;
    --my-editor-findMatchBackground: rgb(250, 201, 171);
    --my-editor-findMatchBorder: transparent;
    --my-editor-findMatchHighlightBackground: transparent;
    --my-editor-findMatchHighlightBorder: #0098fb;
    --my-editor-lineHighlightBackground: transparent;
    --my-editor-lineHighlightBorder: rgba(200, 200, 200, 0.4);

    --my-editorWidget-foreground: #575757;
    --my-editorWidget-background: #eee;
    --my-editorWidget-border: #ddd;
    --my-editorSuggestWidget-foreground: #575757;
    --my-editorSuggestWidget-background: #eee;
    --my-editorSuggestWidget-border: #ddd;
    --my-editorSuggestWidget-selectedForeground: #575757;
    --my-editorSuggestWidget-selectedBackground: #0098fb;
    --my-editorSuggestWidget-highlightForeground: #0098fb;
    --my-editorSuggestWidget-focusHighlightForeground: #fff;

    --my-input-foreground: #575757;
    --my-input-background: #fff;
    --my-input-border: #0098fb;
    --my-input-placeholderForeground: #999;
    --my-inputOption-activeForeground: #575757;
    --my-inputOption-activeBackground: rgb(204, 233, 252);
    --my-inputOption-activeBorder: transparent;
    --my-inputOption-hoverBackground: rgba(200, 200, 200, 0.4);

    --my-toolbar-hoverBackground: rgba(200, 200, 200, 0.4);
    --my-toolbar-activeBackground: transparent;
    --my-toolbar-hoverOutline: transparent;
}
